
<h1>Bat-Form</h1>
  <div class="background">
  <body >
    <form method="post" action="/batsignal/batform">
      Name:<br>
    <input type="text" name="name" placeholder="name" required>
      Telephone:
    <input type="tel" name="usertel" placeholder="calling card" required>
    </form>
  </body>
</div>
