<!-- <div class="columns small-6">
  <div> -->

<div class="columns small-10 medium-10 large-10 batimage">
  <form method="post" action="/batsignal">
    <input type="image" src="http://i.imgur.com/iku5gSK.jpg" width="600" height="400">
</div>

<!-- <div class="columns small-6"> -->
  <footer>
    <a href="/batsignal/batform" class="button">Bat Join</a>
  </footer>
<!-- <div> -->
