<!-- <div class="columns small-4">
  <div> -->

<div class="text-center">
  <form method="post" action="/batsignal">
    <input type="image" src="http://i.imgur.com/iku5gSK.jpg" width="600" height="400">
</div>

<!-- <div class="columns small-4">

    <a href="/batsignal/batform" class="button">Bat Join</a>

<div> -->
